a:link,
a:visited {
  text-decoration: none;
  color: #755139;
}

a:hover,
a:active {
  text-decoration: underline;
}

footer {
  background-color: #e8ddca;
  border-top: 1px solid #755139;
  padding: 10px 0px 10px 0px;
  border-right: 0;
  border-left: 0;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  box-shadow: 0 50vh 0 50vh #e8ddca;
}

.footerDiv {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}

.footerLinkWrapper {
  display: flex;
  gap: 100px;
}

.footerLink {
  font-family: "Poppins", sans-serif;
  color: #755139;
}
