.profileInfo{
    display: flex;
    justify-content: space-evenly;
}


.profilePicture{
    width: 258px;
    height: 258px;
    border-radius: 100%;
    object-fit: cover;
}

.profilePictureDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.profileDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.editText {
    position: absolute;
    top: 120px;
    transform: translateX(-50%);
    left: 50%;
    font-size: 18px;
    opacity: 0;
    font-family: "Poppins", sans-serif;
}

.profilePictureDiv:hover .editText{
    opacity: 1;
}

.profilePictureDiv:hover .profilePicture{
    opacity: 25%;
}


.headRadio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Stats {
    display: flex;
    justify-content: space-between;
}

.Song{
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
main {
    margin: 0 10%;
}

.tag {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
}
.low {
    color: blue;
}